{"swagger": "2.0", "info": {"title": "Central DB API", "description": "Public read-only API for Central DB.", "contact": {"email": "tms@molhem.ai"}, "license": {"name": "ICADB"}, "version": "v1"}, "host": "icadb.com", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/api/books/list/": {"get": {"operationId": "api_books_list_list", "summary": "List books with latest Arabic version", "description": "Returns all books, each annotated with the `latest ArabicVersion` (with list of all `version_number`).\n\n- Optionally filter using query parameters.", "parameters": [{"name": "q", "in": "query", "description": "Search in title/name", "required": false, "type": "string"}], "responses": {"200": {"description": "List of books in Central DB", "schema": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "title": {"type": "string"}, "name": {"type": "string"}, "description": {"type": "string"}, "project_id": {"type": "integer"}, "last_arabic_version": {"type": "string"}}}}, "examples": {"application/json": [{"id": 1, "title": "Book Sample 1", "name": "Book-sample", "description": "Introductory tafsir book.", "project_id": 101, "last_arabic_version": "3.1"}, {"id": 2, "title": "Book Sample 2", "name": "Book-basics", "description": "Basics of Qiraat.", "project_id": 102, "last_arabic_version": "2.0"}]}}, "400": {"description": "Bad query parameter"}}, "tags": ["Books"]}, "parameters": []}, "/api/books/{project_id}/arabic-phrases/": {"get": {"operationId": "api_books_arabic-phrases_list", "summary": "List Arabic Phrases of latest Arabic version", "description": "Return all ArabicPhrase rows for that version (ordered by chapter.serial, groupId, groupOrder) \n- Optional filters (query params): \n-- ?chapter=<serial>  -> limit to one chapter serial", "parameters": [{"name": "chapter", "in": "query", "description": "get chapter with chapter number", "required": false, "type": "number"}, {"name": "version", "in": "query", "description": "get arabic phrases for specific version", "required": false, "type": "number"}], "responses": {"200": {"description": "List Arabic Phrases of latest Arabic version", "schema": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "title": {"type": "string"}, "name": {"type": "string"}, "description": {"type": "string"}, "project_id": {"type": "integer"}, "last_arabic_version": {"type": "string"}}}}, "examples": {"application/json": {"book": {"title": "حراسة التوحيد", "project_id": 397}, "latest_arabic_version": {"version_number": 8, "version_name": "4.0"}, "phrases_count": 1266, "phrases": [{"chapter_serial": 1, "chapter_name": "العقيدة الصحيحة وما يضادها ", "group_id": 1, "group_order": 1, "phrase_id": "37c28ea2-0eaf-4c86-b5b9-32f31f6d1973", "arabic_text": "الرسالة الأولى", "text_type": "p", "content_type_id": 4, "content_type_name": "نص", "tag": "heading1", "align": "center", "direction": "rtl", "translatable": true, "footnote_id": null}, {"chapter_serial": 1, "chapter_name": "العقيدة الصحيحة وما يضادها ", "group_id": 2, "group_order": 1, "phrase_id": "2b99a393-e8ed-4ce3-8966-6f9a2c1986f4", "arabic_text": "العَقِيدَةُ الصَّحِيحَةُ وَمَا يُضَادُّهَا", "text_type": "h", "content_type_id": 6, "content_type_name": "العنوان", "tag": "heading1", "align": "center", "direction": "rtl", "translatable": true, "footnote_id": null}]}}}, "400": {"description": "Bad query parameter"}}, "tags": ["Books"]}, "parameters": [{"name": "project_id", "in": "path", "required": true, "type": "string"}]}, "/api/books/{project_id}/languages/": {"get": {"operationId": "api_books_languages_list", "summary": "List languages for a book across all versions", "description": "Returns languages list for the latest ArabicVersion of this book, PLUS any languages \nthat exist in any previous version but not in the latest (flagged with from_previous_version=true). \nLanguages are never repeated.\n", "parameters": [], "responses": {"200": {"description": "Returns languages list for the latest ArabicVersion and all previous versions", "schema": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "title": {"type": "string"}, "name": {"type": "string"}, "description": {"type": "string"}, "project_id": {"type": "integer"}, "last_arabic_version": {"type": "string"}}}}, "examples": {"application/json": [{"book": {"title": "حراسة التوحيد", "project_id": 397}, "latest": {"version_number": 8, "version_name": "4.0"}, "previous": {"version_number": 7, "version_name": "3.1"}, "languages": [{"iso_code": "as", "name": "آسامي", "from_previous_version": true}]}]}}, "400": {"description": "Bad query parameter"}}, "tags": ["Books"]}, "parameters": [{"name": "project_id", "in": "path", "required": true, "type": "string"}]}, "/api/books/{project_id}/translations/{iso_code}/": {"get": {"operationId": "api_books_translations_read", "summary": "List Translations Phrases of language from latest Arabic versions", "description": "Return all phrases for that TranslationVersion \nthat take latest ArabicVersion for that book (max version_number). \nFor that AV + language(iso_code), take the latest TranslationVersion (max order)", "parameters": [{"name": "version", "in": "query", "description": "get translations for specific version", "required": false, "type": "number"}], "responses": {"200": {"description": "Returns languages list for the latest ArabicVersion and previous version", "schema": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "title": {"type": "string"}, "name": {"type": "string"}, "description": {"type": "string"}, "project_id": {"type": "integer"}, "last_arabic_version": {"type": "string"}}}}, "examples": {"application/json": [{"book": {"title": "حراسة التوحيد", "project_id": 397}, "latest": {"version_number": 8, "version_name": "4.0"}, "previous": {"version_number": 7, "version_name": "3.1"}, "languages": [{"iso_code": "as", "name": "آسامي", "from_previous_version": true}]}]}}, "400": {"description": "Bad query parameter"}}, "tags": ["Books"]}, "parameters": [{"name": "project_id", "in": "path", "required": true, "type": "string"}, {"name": "iso_code", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/card-translation-logs/": {"get": {"operationId": "api_encyclopedias_card-translation-logs_list", "summary": "List card translation logs", "description": "Returns card translation logs.\nOptional query params:\n- `from=YYYY-MM-DD`\n- `to=YYYY-MM-DD`\n- `external_id=<card external id>`", "parameters": [{"name": "from", "in": "query", "description": "Filter logs created on or after this date (YYYY-MM-DD).", "required": false, "type": "string"}, {"name": "to", "in": "query", "description": "Filter logs created on or before this date (YYYY-MM-DD).", "required": false, "type": "string"}, {"name": "external_id", "in": "query", "description": "Filter logs for a specific card external_id.", "required": false, "type": "integer"}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia"]}, "parameters": []}, "/api/encyclopedias/cards/one/": {"get": {"operationId": "api_encyclopedias_cards_one_list", "summary": "Get one card translation by old_id + language", "description": "Returns one card resolved by CardVersion.old_id in a flattened response shape.\nUse query params like `?id=3854&language=en`.\nOptional `version=` targets a specific card version.", "parameters": [{"name": "id", "in": "query", "description": "Card old_id value (e.g. 3854).", "required": true, "type": "integer"}, {"name": "language", "in": "query", "description": "Language ISO code (e.g. en).", "required": true, "type": "string"}, {"name": "version", "in": "query", "description": "Specific card version to use. If omitted, uses the latest version for each old_id.", "required": false, "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia"]}, "parameters": []}, "/api/encyclopedias/cards/{external_id}/translations/{iso_code}/": {"get": {"operationId": "api_encyclopedias_cards_translations_read", "summary": "List translation sentences for a card + language", "description": "Returns all translation sentences for the latest CardVersion of this card in the given language.\nFalls back to any previous version if the latest has no translation for that language.\nEach sentence includes field id and field name.\nOptional ?version= to target a specific CardVersion.", "parameters": [{"name": "version", "in": "query", "description": "CardVersion version number (e.g. 1.0). If omitted, uses the latest version.", "required": false, "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia"]}, "parameters": [{"name": "external_id", "in": "path", "required": true, "type": "string"}, {"name": "iso_code", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/cards/{external_id}/version/{version}/languages/": {"get": {"operationId": "api_encyclopedias_cards_version_languages_list", "summary": "List translation languages for a card version", "description": "Returns all languages that have translations for a specific CardVersion.\nLooks up the card by external_id and the version by version number.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia"]}, "parameters": [{"name": "external_id", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/cards/{external_id}/version/{version}/sentences/": {"get": {"operationId": "api_encyclopedias_cards_version_sentences_list", "summary": "List version sentences by card external_id + version", "description": "Returns CardSentence rows for a given (card external_id, version).\nExample: /api/encyclopedias/cards/123/version/1.0/sentences/", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia"]}, "parameters": [{"name": "external_id", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/cards/{external_id}/version/{version}/translations/{iso_code}/": {"get": {"operationId": "api_encyclopedias_cards_version_translations_read", "summary": "List translation sentences for a specific card version + language", "description": "Returns all translation sentences for a specific CardVersion (by card external_id and version number)\nin the given language. Each sentence includes field id and field name.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia"]}, "parameters": [{"name": "external_id", "in": "path", "required": true, "type": "string"}, {"name": "version", "in": "path", "required": true, "type": "string"}, {"name": "iso_code", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/cards/{external_id}/versions/": {"get": {"operationId": "api_encyclopedias_cards_versions_list", "summary": "List card versions", "description": "Returns all CardVersion rows for a card.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia"]}, "parameters": [{"name": "external_id", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/list/": {"get": {"operationId": "api_encyclopedias_list_list", "summary": "List encyclopedias", "description": "Returns all visible Encyclopedias (hidden ones are excluded). Optional ?q= search by name.", "parameters": [{"name": "q", "in": "query", "description": "Search in encyclopedia name", "required": false, "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia"]}, "parameters": []}, "/api/encyclopedias/versions/{version_id}/properties/": {"get": {"operationId": "api_encyclopedias_versions_properties_list", "summary": "Properties and lookup items of one card version by version external id (export)", "description": "Property values of one CardVersion addressed by its KMS id, each with the lookup items it references, plus the flattened distinct `lookup_items` list. Replaces KMS `card-property/external/list?CardVersionId=`.", "parameters": [{"name": "lookup_tables", "in": "query", "description": "Comma-separated lookup table external ids; restricts lookup_items references to these tables.", "required": false, "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia export"]}, "parameters": [{"name": "version_id", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/versions/{version_id}/sentences/": {"get": {"operationId": "api_encyclopedias_versions_sentences_list", "summary": "Raw sentences of one card version by version external id (export)", "description": "Phrase-level rows of one CardVersion addressed by its KMS id (the `cardVersionId` KMS uses). Replaces KMS `card-sentance/external/list?cardVersionId=`. Rows are ordered by field order, paragraph and item order. Hidden-field sentences are excluded unless `include_hidden=true`.", "parameters": [{"name": "include_hidden", "in": "query", "description": "Include sentences of hidden fields (default false).", "required": false, "type": "boolean", "default": false}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia export"]}, "parameters": [{"name": "version_id", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/{encyclopedia_id}/cards/": {"get": {"operationId": "api_encyclopedias_cards_list", "summary": "List encyclopedia cards", "description": "Returns visible Card rows for a given Encyclopedia.external_id (404 if the encyclopedia is hidden; hidden cards are excluded).\nOptional ?q= search by title.", "parameters": [{"name": "q", "in": "query", "description": "Search in card title", "required": false, "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia"]}, "parameters": [{"name": "encyclopedia_id", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/{encyclopedia_id}/cards/latest/": {"get": {"operationId": "api_encyclopedias_cards_latest_list", "summary": "Cards with their latest version, composed text and lookup items (export)", "description": "The primary import endpoint. One paged call returns, for every card of the encyclopedia that has a qualifying version, its latest version (max version number, ties broken by version id) together with:\n* `sentences`: one row per visible field - `text` is the field's phrases composed exactly the way Tamkeen Daeya composes the KMS `card-sentance` payload (phrases of a paragraph joined by a space, paragraphs joined by a newline, empty phrases/fields dropped, hidden fields skipped, rows ordered by `field_order`);\n* `lookup_items`: the distinct lookup-table items referenced by the version's properties (optionally restricted with `lookup_tables`);\n* optionally `properties` (raw per-field values), `phrases` (raw phrase rows) and `versions` (all stored versions of the card).\n\nCards without any qualifying version are excluded. Ordered by card external id; page through with `page`/`page_size`.\n\nIncremental runs: pass the previous response's `next_cursor` as `updated_since`. The cursor is the time a card's latest version was first stored in Central-DB, so a new version is the only change it detects; sentence edits made to an existing version (rare, manual backfills) do not move it. `next_cursor` trails `generated_at` by a 10-minute safety window on purpose.\n\nCoverage: Central-DB only holds what its KMS sync has ingested (approved versions; not every encyclopedia is populated). Check `/api/encyclopedias/{id}/sync-status/` before relying on an encyclopedia; an empty page means nothing ingested, not nothing published.\n\nReplaces KMS `card/external/list-minimal` + per-version `card-sentance/external/list` + `card-property/external/list`.", "parameters": [{"name": "page", "in": "query", "description": "1-based page number.", "required": false, "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Cards per page (default 200, max 1000).", "required": false, "type": "integer", "default": 200}, {"name": "updated_since", "in": "query", "description": "ISO-8601 datetime. Only cards whose latest version was first stored in Central-DB at/after this instant (CardVersion.created_at) are returned. Feed the previous response's `next_cursor` here for incremental runs. Naive values are UTC.", "required": false, "type": "string"}, {"name": "include", "in": "query", "description": "Comma-separated sub-objects to embed per card. Options: sentences, phrases, lookup_items, properties, versions. Default: sentences,lookup_items. 'phrases' adds the raw phrase rows under each composed sentence row; pass an empty value (include=) for the minimal card+latest_version list.", "required": false, "type": "string"}, {"name": "lookup_tables", "in": "query", "description": "Comma-separated lookup table external ids; restricts lookup_items references to these tables.", "required": false, "type": "string"}, {"name": "cards", "in": "query", "description": "Comma-separated card external ids to restrict the listing to (debugging / targeted refresh).", "required": false, "type": "string"}, {"name": "approved_only", "in": "query", "description": "Pick the latest version among approved versions only (default true). Central-DB currently ingests approved versions only, so false changes nothing until unapproved versions are ingested.", "required": false, "type": "boolean", "default": true}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia export"]}, "parameters": [{"name": "encyclopedia_id", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/{encyclopedia_id}/fields/": {"get": {"operationId": "api_encyclopedias_fields_list", "summary": "List encyclopedia fields (export)", "description": "Content fields of one encyclopedia (by KMS external id) with their display order and hidden flag. Replaces KMS `encyclopedia-field/external/list?encyclopediaId=`.", "parameters": [{"name": "include_hidden", "in": "query", "description": "Include hidden fields (default true). Hidden fields never carry sentences.", "required": false, "type": "boolean", "default": true}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia export"]}, "parameters": [{"name": "encyclopedia_id", "in": "path", "required": true, "type": "string"}]}, "/api/encyclopedias/{encyclopedia_id}/sync-status/": {"get": {"operationId": "api_encyclopedias_sync-status_list", "summary": "Encyclopedia content coverage / freshness (export)", "description": "Counts describing how much of an encyclopedia Central-DB currently holds (cards, versions, sentences, properties) next to the totals KMS reports, plus the time the newest version was stored. Lets a consumer detect stale or partial data before importing.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia export"]}, "parameters": [{"name": "encyclopedia_id", "in": "path", "required": true, "type": "string"}]}, "/api/languages/list/": {"get": {"operationId": "api_languages_list_list", "summary": "List languages", "description": "Returns all Languages (core.Language).\nOptional ?q= search by any name or ISO code.\nOptional ?export=csv or ?export=excel downloads the list as a file.", "parameters": [{"name": "q", "in": "query", "description": "Search by name, short name, native/English name, ISO code or ISO version.", "type": "string"}, {"name": "export", "in": "query", "description": "Download the list as a file instead of JSON.", "type": "string", "enum": ["csv", "excel"]}], "responses": {"200": {"description": ""}}, "tags": ["Languages"]}, "parameters": []}, "/api/languages/translations/": {"get": {"operationId": "api_languages_translations_list", "summary": "List language name translations", "description": "Returns all LanguageTranslation rows (core.LanguageTranslation).\nOptional ?language= source ISO code, ?target= target ISO code, ?q= search in the translated name.\nOptional ?export=csv or ?export=excel downloads the list as a file.", "parameters": [{"name": "language", "in": "query", "description": "Filter by source language ISO code (the language whose name is translated).", "type": "string"}, {"name": "target", "in": "query", "description": "Filter by target language ISO code (the language of the translation).", "type": "string"}, {"name": "q", "in": "query", "description": "Search in the translated name.", "type": "string"}, {"name": "export", "in": "query", "description": "Download the list as a file instead of JSON.", "type": "string", "enum": ["csv", "excel"]}], "responses": {"200": {"description": ""}}, "tags": ["Languages"]}, "parameters": []}, "/api/languages/{iso_code}/translations/": {"get": {"operationId": "api_languages_translations_list", "summary": "Translations of one language's name", "description": "Returns the name of the given language (by ISO code) translated into all available target languages.\nOptional ?target= returns only that target language.", "parameters": [{"name": "target", "in": "query", "description": "Filter by target language ISO code.", "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["Languages"]}, "parameters": [{"name": "iso_code", "in": "path", "required": true, "type": "string"}]}, "/api/lookup-tables/": {"get": {"operationId": "api_lookup-tables_list", "summary": "List lookup tables (export)", "description": "All KMS lookup tables mirrored in Central-DB, with their item counts. Replaces KMS `lookup-table/external/list`. Optional ?ids= filter.", "parameters": [{"name": "ids", "in": "query", "description": "Comma-separated lookup table external ids to return (default: all), e.g. 11,18,30,43,56,57.", "required": false, "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia export"]}, "parameters": []}, "/api/lookup-tables/{table_id}/items/": {"get": {"operationId": "api_lookup-tables_items_list", "summary": "List lookup table items (export)", "description": "Items of one lookup table (by KMS external id), including the parent link that forms the item tree. Replaces KMS `lookup-table/external/items/{id}`.\n\nItem external ids are unique only inside their table. `parent_external_id` is the parent's external id; `parent_lookup_table_external_id` tells which table it belongs to (normally the same table).", "parameters": [{"name": "include_archived", "in": "query", "description": "Include items archived in KMS (default true, KMS parity).", "required": false, "type": "boolean", "default": true}], "responses": {"200": {"description": ""}}, "tags": ["Encyclopedia export"]}, "parameters": [{"name": "table_id", "in": "path", "required": true, "type": "string"}]}, "/books/api/books/relevant-examples/{iso_code}/": {"get": {"operationId": "books_api_books_relevant-examples_read", "summary": "Find relevant examples by embeddings", "description": "Returns the nearest Arabic and translated phrase pairs for the provided query text. Search can be limited to one book using `project_id`, or run across all books. Each book uses its latest Arabic version with embeddings and a translation version in the requested language, then the latest translation revision for that version.", "parameters": [{"name": "query", "in": "query", "description": "Search text used to compute the embedding similarity.", "required": true, "type": "string"}, {"name": "project_id", "in": "query", "description": "Limit results to one book. Uses each book's latest Arabic version with embeddings and a translation version in the requested language.", "required": false, "type": "integer"}, {"name": "k", "in": "query", "description": "Maximum number of examples to return. Defaults to 5.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Relevant phrase examples ordered by embedding similarity.", "schema": {"type": "object", "properties": {"project_id": {"type": "integer", "nullable": true}, "target_language": {"description": "Arabic name of the target language.", "type": "string"}, "iso_code": {"type": "string"}, "query": {"type": "string"}, "search_scope": {"type": "string"}, "count": {"type": "integer"}, "examples": {"type": "array", "items": {"type": "object", "properties": {"source_text": {"type": "string"}, "target_text": {"type": "string"}, "similarity_percent": {"type": "number", "format": "float"}, "phrase_id": {"type": "string"}, "book": {"type": "string"}, "version": {"type": "string"}}}}}}}, "400": {"description": "Missing or invalid query parameters."}, "404": {"description": "Book or language was not found."}, "500": {"description": "Embedding search failed."}}, "tags": ["Books"]}, "parameters": [{"name": "iso_code", "in": "path", "required": true, "type": "string"}]}, "/quran/api/quran/surahs/": {"get": {"operationId": "quran_api_quran_surahs_list", "summary": "List Surahs", "description": "Returns all surahs with Arabic Uthmani name.", "parameters": [{"name": "q", "in": "query", "description": "Search in surah_name or Arabic name", "required": false, "type": "string"}], "responses": {"200": {"description": "List of surahs", "schema": {"type": "array", "items": {"type": "object", "properties": {"surah_no": {"type": "integer"}, "surah_name": {"type": "string"}, "ar_uthmani_name": {"type": "string"}, "ayas_count": {"type": "integer"}}}}}}, "tags": ["Quran"]}, "parameters": []}, "/quran/api/quran/surahs/{surah_no}/ayas/": {"get": {"operationId": "quran_api_quran_surahs_ayas_list", "summary": "List Ayas for a surah", "description": "Optionally include translations by translation key.", "parameters": [{"name": "key", "in": "query", "description": "Translation key to include translations", "required": false, "type": "string"}, {"name": "version", "in": "query", "description": "Optional translation version override", "required": false, "type": "string"}], "responses": {"200": {"description": "List of ayas with optional translations", "schema": {"type": "array", "items": {"type": "object", "properties": {"aya_no": {"type": "integer"}, "aya_no_uthmani": {"type": "string"}, "aya_uthmani": {"type": "string"}, "translation": {"type": "string"}, "footnotes": {"type": "string"}}}}}, "404": {"description": "Surah or translation key not found"}}, "tags": ["Quran"]}, "parameters": [{"name": "surah_no", "in": "path", "required": true, "type": "string"}]}, "/quran/api/quran/translation-keys/": {"get": {"operationId": "quran_api_quran_translation-keys_list", "summary": "List translation keys", "description": "Returns all translation keys with last version info.", "parameters": [{"name": "q", "in": "query", "description": "Search by key/title", "required": false, "type": "string"}, {"name": "language", "in": "query", "description": "Filter by language iso_code", "required": false, "type": "string"}], "responses": {"200": {"description": "List of translation keys", "schema": {"type": "array", "items": {"type": "object", "properties": {"key": {"type": "string"}, "title": {"type": "string"}, "language": {"type": "string"}, "last_version": {"type": "string"}, "last_updated_at": {"type": "string", "format": "date-time"}}}}}}, "tags": ["Quran"]}, "parameters": []}}, "definitions": {}}